body {
  background: green;
}
.flex-container-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  font-size: 80px;
}
.card::before {
  position: relative;
  font-size: 80px;
  top: -70px;
  left: -110px;
}
.card::after {
  position: relative;
  font-size: 80px;
  top: 60px;
  right: -110px;
  transform: rotate(180deg);
}

.hearts::before,
.hearts::after {
  color: red;
  content: "\2665";
}
.spades::before,
.spades::after {
  color: black;
  content: "\2660";
}
.clubs::before,
.clubs::after {
  color: black;
  content: "\2663";
}
.diamonds::before,
.diamonds::after {
  color: red;
  content: "\2666";
}
